<div class="qor-layout__sidebar">
  <div class="sidebar-header">
      <a href="{{.Admin.GetRouter}}"><span class="visuallyhidden">Bbox</span></a><a href="http://bbox.kiev.ua" target="_blank">Bbox v{{ current_version }}</a>
  </div>
  <div class="sidebar-userinfo">
    {{if .CurrentUser}}
      <div>
        <h5>{{.CurrentUser.DisplayName}}</h5>
      </div>
    {{end}}
    <a class="mdl-button mdl-js-button mdl-button--icon" href="{{logout_url}}" title="{{t "qor_admin.account.logout" "logout"}}" alt="{{t "qor_admin.account.logout" "logout"}}"><i class="material-icons">exit_to_app</i></a>
  </div>
  <div class="sidebar-body">
    <div class="qor-menu-container">
      {{render "shared/menu" get_menus}}
    </div>
  </div>
  <div class="sidebar-footer">
  <style>
      .sel-switchlocale {
          text-transform: none;
          box-sizing: border-box;
          box-shadow: none;
          /*height: 32px;*/
          border: 1px solid #03a9f4;
          border-radius: 0;
          width: 100%;
      }
  </style>
  {{ $cl := current_locale .}}
    <select id="switchLocale" class="sel-switchlocale">
        <option {{ if (eq $cl "ru-RU") }}selected{{end}} value="/switch_locale?locale=ru-RU">Русский</option>
        <option {{ if (eq $cl "uk-UA") }}selected{{end}} value="/switch_locale?locale=uk-UA">Український</option>
        <option {{ if (eq $cl "pl") }}selected{{end}} value="/switch_locale?locale=pl">Polski</option>
        <option {{ if (eq $cl "en-US") }}selected{{end}} value="/switch_locale?locale=en-US">English</option>
    </select>
    <script>
    $(function(){
        // bind change event to select
        $('#switchLocale').on('change', function () {
            var toUrl = $(this).val(); // get selected value
            console.log('switch locale:' + toUrl);
            if (toUrl) { // require a URL
                window.location = toUrl; // redirect
            }
            return false;
        });
    });
    </script>
  </div>
</div>
